<h1>{{ title }}</h1>

{{#if classes}}
<table>
  <tr>
    <th>수업 ID</th>
    <th>수업명</th>
    <th>교수명</th>
    <th>수강인원</th>
    <th>학과 ID</th>
    <th>강의실 ID</th>
    <th>수강취소</th>
  </tr>
  {{#each classes}}
    <form method="post" action="/delete/class">
      <tr>
        <td>{{Id}}</td>
        <td>{{Name}}</td>
        <td>{{Professor}}</td>
        <td>{{Number_of_participants}}</td>
        <td>{{Department_Id}}</td>
        <td>{{Room_Id}}</td>
        <td style="text-align: center;">
          <input type="hidden" name="classId" value="{{Id}}">
          <button 
            type="submit"
          >
          수강취소
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>
{{else}}
<p>수강 중인 수업이 없습니다.</p>
{{/if}}

<p><a href="/select">조회 페이지로 돌아가기</a></p>
<p><a href="/logout">로그아웃</a></p>

